   
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员新增</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/add.css" />
</head>
<body>
    <div class="aaa">
        <h1 style="color: darkgray;">管理员登陆系统</h1>
        <form action="/guanli" method="post">
            <input type="text" name="username" placeholder="用户名">
            <br/>
            <input type="password" name="password" placeholder="密码"/>
            <br/>
            <input type="submit" value="提交"/>
        </form>
    </div>
</body>
</html>