<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>小幂的页面</title>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
    <link href="/fontAwesome/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/index.js"></script>
</head>

<body>

<header>
    <div class="backimg"><img src="/images/幂.jpg"></div>
    <div class="logo"><span></span><img src="/images/00002637.png"></div>
</header>

<nav>
    <div class="menu">
        <a href="/" class="focus">首页</a>
        <a href="/">图库</a>
        <a href="/?category={{cate.id}}" class="focus">视频</a>
        <a href="/?category={{cate.id}}">直拍</a>
    </div>
</nav>
<main class="clear">
    <div class="mainLeft">
        
    </div>

    <div class="mainRight">

        <form action="/login" method="post">
            <div class="rightBox" id="loginBox">
                <div class="title"><span>个人主页</span></div>
                <p class="colWarning textCenter"></p>
            </div>
        </form>

</main>

<div class="copyright textCenter">Copyright © miaov.com 版权所有 | 京ICP备08102442号</div>
</body>
</html>