<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/Table.css">
	<script src="/javascripts/jquery-1.12.4.min.js"></script>
</head>
<body>
	<form action="/search" method="POST">
		<input type="title" placeholder="搜索"/>
		<input type="submit"/>
	</form>
	<form method="POST" action="/task7">
		<table>
			<thead>
				<tr>
					<td>用户名<span class="upBtn"></span><span class="downBtn"></td>
					<td>密码<span class="upBtn"></span><span class="downBtn"></td>
					<td>邮箱<span class="upBtn"></span><span class="downBtn"></td>
					<td>电话<span class="upBtn"></span><span class="downBtn"></td>
					<td>性别<span class="upBtn"></span><span class="downBtn"></td>
						<td>操作<span class="upBtn"></span></td>
				</tr>
			</thead>
			<tbody id='show'>
				<% for(o of data) {%>
				<tr>
					<td><%= o.username%></td>
					<td><%= o.password%></td>
					<td><%= o.email%></td>
					<td><%= o.phone%></td>
					<td><%= o.sex%></td>
					<td><input type="button"  value="新增"  class='new' />
						<input type="button" value="修改" class='update' rel = '<%= o.id%>'  />
						<input type="button"  value="删除"  class='del' onclick="location.href='/a?id=<%=o.id%>'"/></td>
				</tr>
				
				<%}%>
			</tbody>
			<tfoot>
				<tr>
					<td><input type="button"  value="新增"  class='new' onclick="location.href='/add'"/></td>
					<td colspan="6"><input type="button" id="nextPage"  value="下一页" ></td>
				</tr>
			</tfoot>	
		</table>
	</form>
	<script type="text/javascript" src="/javascripts/Table.js"></script>
	<script type="text/javascript" src="/javascripts/jq.js"></script>
	<script>
		$('.update').click(function(){
		let id = $(this).attr('rel')
		window.location.href = "/new?id="+id+""
		})
	</script>
</body>
</html>